<?xml version="1.0"?>
<launch>
  <!-- <include file="/home/f1tenth2/A2M/src/wall_following/launch/real_world_wall_following.launch"/> -->
  <!-- Listen to messages from joysicks -->
<node pkg="joy" name="joy_node" type="joy_node"/> 

<include file="$(find racecar)/launch/teleop.launch"/>

 <node pkg="wall_following" name="lol_node" type="pid_error.py" output="screen"/> 
  <node pkg="wall_following" name="control_node" type="control.py" output="screen"/> 



  <node pkg="wall_following" name="dead_mans_switch" type="dead_mans_switch.py" output="screen"/>


<rosparam command="load" file="$(find wall_following)/params.yaml"/>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node> 

<!--<node pkg="f1tenth_simulator" name="autonomous_park" type="autonomous_park" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>-->

  <!-- Launch the Random Walker Node -->
  <!--<node pkg="f1tenth_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node> -->

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params_wheel.yaml"/>
  </node>

  <!-- ***Put launch command for new planner here:-->
  <!-- Launch the New Planner Node -->
  <!--   <node pkg="f1tenth_simulator" name="new node's name" type="new file name" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	 </node>    -->

  
  <!-- Launch RVIZ -->
   <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_simulator)/launch/simulator.rviz" output="screen"/>-->
</launch>
